<div class="login">
    <form class="custom-form" >
      <h1>Login</h1>
      <input type="email"  name="email" placeholder="Email" required="required"
      [(ngModel)]="usuario.correo" />
      <input   type="password"  name="password" placeholder="Password" required="required"
      [(ngModel)]="usuario.password" />
      <button type="submit" class="btn btn-primary mb-2 color" (click)="login()">Login</button>
      <button type="submit" class="btn btn-danger mb-2"  (click)="IngresarGoogle()">Ingresar con Google</button>
      <label for="" class="text-center mb-2">Aun no tienes cuenta? <a routerLink="registro">Registrate</a></label>
      <button class="btn btn-info mb-2"  (click)="logout()">Logout</button>
    </form>
  </div>