/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url('src/assets/img/portada.jpg') no-repeat;
    background-position: center;
    height: 100vh;
    opacity: 90%;
    
}